<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Добавить товар</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Добавьте товар:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/addNomenclature}"
      th:object="${nomenclatureForm}" method="POST">
    Код:
    <input type="text" th:field="*{code}" />
    <br/>
    Описание:
    <input type="text" th:field="*{description}" />
    <br/>
    Цена:
    <input type="text" th:field="*{price}" />
    <br>
    <input type="submit" value="Добавить" />
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>