<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Добавить товар</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-nav">
        <a th:href="@{/nomenclaturesList}" class="nav-item nav-link active">Товары</a>
        <a class="nav-item nav-link">Заказы</a>
        <a class="nav-item nav-link">Адреса</a>
        <a class="nav-item nav-link">Документы</a>
    </div>
</nav>
<h1>Добро пожаловать на склад</h1>
<h2>Добавьте товар:</h2>

<div class="col-6">
    <form action="#" th:action="@{/saveNomenclature}" th:object="${nomenclature}" method="POST">
        <div class="form-group">
            <label for="code">Код:</label>
            <input type="text" class="form-control form-control-md" id="code" th:field="*{code}">
        </div>
        <div class="form-group">
            <label for="desc">Описание:</label>
            <input type="text"  class="form-control form-control-md" id="desc" th:field="*{description}">
        </div>
        <div class="form-group">
            <label for="price">Цена:</label>
            <input type="text"  class="form-control form-control-md" id="price" th:field="*{price}">
        </div>
            <button type="submit" class="btn btn-primary">Сохранить товар</button>
    </form>
</div>
<br>
<a th:href="@{/nomenclaturesList.html}">Вернуться к списку товаров</a>

</body>
</html>