<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Добавление товаров на склад</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="navbar-nav">
                <a class="navbar-brand" th:href="@{/index}">
                    <img th:src="@{images/logo1.png}" width="30" height="30" alt="">
                </a>
                <div sec:authorize="hasRole('SELLER')">
                    <a th:href="@{/nomenclaturesList}" class="nav-item nav-link">Товары</a>
                </div>
                <div sec:authorize="hasRole('EMPL')">
                    <a th:href="@{/docOutList}" class="nav-item nav-link">Основной склад</a>
                </div>
                <div sec:authorize="hasRole('SELLER')">
                    <a th:href="@{/productList}" class="nav-item nav-link  active">Наличие товаров</a>
                </div>
                <div sec:authorize="hasRole('MANAGER')">
                    <a th:href="@{/pvzList}" class="nav-item nav-link">ПВЗ</a>
                </div>
            </div>
        </nav>

        <h1>Добавить товар на склад:</h1>

        <div class="col-6">
            <form action="#" th:action="@{/updProducts}" th:object="${product}" method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="nomenclature.id">Наименование товара:</label>
                    </div>
                    <select  class="custom-select" id="nomenclature.id" name="nomenclature.id">
                        <option th:each="nomenklature : ${nomenklList}"
                                th:value="${nomenklature.id}"
                                th:text="${nomenklature.description}"></option>
                    </select>
                </div>

                <div  class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="cntChange">Количество:</span>
                    </div>
                    <input type="hidden" name ="cnt" value="0"/>
                    <input type="text" aria-describedby="cntChange" th:field="*{cntChange}"/>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="storage.id">Склад:</label>
                    </div>
                    <select class="custom-select" id="storage.id" name="storage.id">
                        <option th:each="storage : ${storageList}"
                                th:value="${storage.id}"
                                th:text="${storage.name}"></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Добавить товар</button>
            </form>
        </div>
        <br>
        <a th:href="@{/productList}"  class="btn btn-link">Вернуться к списку товаров на складе</a>
    </body>
</html>