<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Добавленние товаров на склад</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Добавить товар на склад:</h1>
<form action="#" th:action="@{/saveProducts}" th:object="${product}" method="post">

    <!--input type="text" th:field="*{nomenclatureId}"/-->
    <div>
        <br/>
        Наименование товара:
        <select class="form-control" id="nomenclature.id" name="nomenclature.id">
            <option th:each="nomenklature : ${nomenklList}"
                    th:value="${nomenklature.id}"
                    th:text="${nomenklature.description}"></option>

        </select>
    </div>
    <br/>
    <input type="hidden" id = "cnt" name = "cnt" value ="0"/>
    Количество:
    <input type="text" th:field="*{cntChange}"/>

    <div>
        <br/>
        Склад:
        <select class="form-control" id="storage.id" name="storage.id">
            <option th:each="storage : ${storageList}"
                    th:value="${storage.id}"
                    th:text="${storage.name}"></option>
        </select>
    </div>

    <br/>
    <!--input type="text"  th:field="*{storage}"/-->
    <br/>
    <button type="submit">Добавить товар</button>
    <br><br/>
    <a th:href="@{/productList}">Вернуться к списку товаров на складе</a>
</form>
</body>
</html>