<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список заказов</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Заказы</h1>
<br/><br/>
<div>
    <table>
        <thead>
        <tr>
            <th>Номер заказа</th>
            <th>Дата заказа</th>
            <th>Номенклатура</th>
            <th>Кол-во</th>
            <th>Статус заказа</th>
            <th>Склад</th>
            <th>Действия</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="document : ${docOutList}">
            <td th:utext="${document.docNum}"></td>
            <td th:utext="${document.dtStart}"></td>
            <!--td th:utext="${document.description}"></td-->
            <td th:utext="${document.nomenclature.description}"></td>

            <td th:utext="${document.cnt}"></td>
            <td th:utext="${document.statusId}"></td>
            <td th:utext="${document.storage.name}"></td>
            <td><a th:href="@{/updateDocOut/{id}(id=${document.id})}">Редактировать</a></td>

        </tr>
        </tbody>
    </table>
</div>
<br/><br/>
<a th:href="@{/addDocOut}">Добавить заказ</a>
<br/><br/>
<a th:href="@{/index}">Главная страница</a>
</body>
</html>