<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ошибка доступа</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>
<body>
<div align="center">
<h2>Недостаточно прав для посещения страницы</h2>
<p> Обратитесь к администратору, если считаете, что это ошибка.</p>
<a th:href="@{/index}" class="btn btn-link" align="center">Вернуться на главную</a><br>
    <img width="50%"  th:src="@{images/error.png}">
</div>

</body>
</html>
