<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Наличие товаров</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="navbar-nav">
                <a class="navbar-brand" th:href="@{/index}">
                    <img th:src="@{images/logo1.png}" width="30" height="30" alt="">
                </a>
                <div sec:authorize="hasRole('SELLER')">
                    <a th:href="@{/nomenclaturesList}" class="nav-item nav-link">Товары</a>
                </div>
                <div sec:authorize="hasRole('EMPL')">
                    <a th:href="@{/docOutList}" class="nav-item nav-link">Основной склад</a>
                </div>
                <div sec:authorize="hasRole('SELLER')">
                    <a th:href="@{/productList}" class="nav-item nav-link active">Наличие товаров</a>
                </div>
                <div sec:authorize="hasRole('MANAGER')">
                    <a th:href="@{/pvzList}" class="nav-item nav-link">ПВЗ</a>
                </div>
            </div>
        </nav>

        <h1>Наличие товаров</h1>

        <br><br>

        <div>
            <table  class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Кол-во на складе</th>
                        <th>Ожидает подтверждения сотрудником склада</th>
                        <th>Склад/ПВЗ</th>
                        <th>Действие</th>
                     </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${productList}">
                        <td th:utext="${product.nomenclature.code} + ' ' + ${product.nomenclature.description}"></td>
                        <td th:utext="${product.cnt}"></td>
                        <td th:utext="${product.cntChange}"></td>
                        <td th:utext="${product.storage.name}"></td>
                        <td><a th:href="@{/updateProduct/{id}(id=${product.id})}" class="btn btn-primary">Добавить товар</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <a th:href="@{/addProduct}" class="btn btn-link">Добавить товар на склад</a>
        <br/>
        <!--a th:href="@{/nomenclaturesList}" class="btn btn-link">Справочник товаров</a-->
    </body>
</html>
