<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Наличие товаров</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Наличие товаров</h1>

<br/><br/>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>Номенклатура</th>
            <th>Кол-во на складе</th>
            <th>Ожидает подтверждения сторудником склада</th>
            <th>Склад/ПВЗ(name)</th>
            <th>Действие</th>
         </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productList}">
            <td th:utext="${product.nomenclature.description}"></td>
            <td th:utext="${product.cnt}"></td>
            <td th:utext="${product.cntChange}"></td>
            <td th:utext="${product.storage.name}"></td>
            <td><a th:href="@{/updateProduct/{id}(id=${product.id})}">Добавить товар</a></td>
        </tr>
        </tbody>
    </table>
</div>
<br/><br/>
<a th:href="@{/addProduct}">Добавить товар на склад</a>
<br/><br/>
<a th:href="@{/index}">Главная страница</a>
</body>
</html>