<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Редактировать товар</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Добро пожаловать на склад</h1>
<h2>Изменить товар:</h2>
<form action="#" th:action="@{/saveNomenclature}" th:object="${nomenclature}" method="post">
    <input type="hidden" th:field="*{id}">
    <br>
    Код:
    <input type="text" th:field="*{code}" />
    <br/>
    Описание:
    <input type="text" th:field="*{description}" />
    <br/>
    Цена:
    <input type="text" th:field="*{price}" />
    <br>
    <button type="submit">Сохранить товар</button>
    <br>
    <a th:href="@{/nomenclaturesList}">Вернуться к списку товаров</a>
</form>
</body>
</html>